*.pyc
*.out
*.pb
.DS_Store
.idea
*.meta
*.index
*.data-00000-of-00001
*ipynb_checkpoints*
*.tar.gz


models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/cached_timers.json
models/grad_compress/temp/*
_build/
_templates/

data/femnist/data/*
